:root {
    --coral: #F05D5E;
    --teal: #0F7173;
    --light: #E7ECEF;
    --dark: #272932;
    --camel: #D8A47F;
}

html {
    font-size: 100%; /* base size 100% usually means 16px*/
  }
  
.h1 {
    font-size:  2.25rem; 
  }

  .p {
    font-size:  0.75 rem; 
  }

.card-container { 
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
    margin: 20px auto;
    max-width: 1000px;
  }
  @media only screen and (min-width: 700px) and  (prefers-color-scheme: light) {
    body {
        font-size: 1.5 rem;
        background-color: rgb(248, 194, 194);
       }
 }
 @media only screen and (min-width: 1000px) and  (prefers-color-scheme: light){
    body {
        font-size: 2.5 rem;
        background-color: rgb(193, 159, 227);
       }
 }
 @media only screen and (max-width: 700px) and  (prefers-color-scheme: light){
    body {
        font-size: 1 rem;
        background-color:beige;
       }
    .intro-class{
        display: none;
       }
 }  
  @media only screen and (min-width: 700px) and  (prefers-color-scheme: dark) {
    body {
        font-size: 1.5 rem;
        background-color: #838588;
       }
 }
 @media only screen and (min-width: 1000px) and  (prefers-color-scheme: dark){
    body {
        font-size: 2.5 rem;
        background-color: #838588;
       }
 }
 @media only screen and (max-width: 700px) and  (prefers-color-scheme: dark){
    body {
        font-size: 1 rem;
        background-color: #838588;
       }
    .intro-class{
        display: none;
       }
 }

.card {
    padding: 10px;
    margin: 10px;
    max-width: 250px;
    display: inline-block;
    flex: 0 0 100%;
    display: flex;  /* Necessary for the cards to have the same height */
    flex-direction: column;  /* To be able to push the childrens down */
  
}

.pet-pic{
    max-width: 250px;
    max-height: 125px;
  }